header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    .header-right button {
      background-color: #647B64;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 15px 10px 15px;
      font-size: 10px;
      border-radius: 3px;
      border: 0;
      cursor: pointer;
      height: 40px;
      width: 93px;
      margin-top: 15px;
  }
  .header-right ul {
    width: 100%;
    padding-right: 50px;
    font-size: 16px;
  }
  .header-right li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;

  }
  .header-right {
    display: flex;
   justify-content: flex-end;
  } 
  }