.main-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .first-side {
      display: flex;
      flex-direction: column;
      align-items: left;
      max-width: 495px;
  }
  .main-first-image {
    display: flex;
    justify-content: flex-end;
    width: 343px;
    height: 585px;
}
  .first-side button {
  border: none;
  background-color: rgb(8, 65, 8);
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 24px center;
  width: 50%;
  position: relitive;
 text-align: left;
 text-transform: uppercase;
  }
  .first-side p {
  font-size: 16px;
  color: #647B64;
  
  }
  .first-side h2 {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
} 
}