.second-main-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;

    .second-layout {
      display: flex;
      flex-direction: column;
      align-items: left;
      max-width: 480px
  }

  .second-layout span{
    color: #F3B562;
    font-size: 24px;
    text-transform: uppercase;
  }
  .second-layout h3{
    font-size: 41px;
    text-transform: uppercase;
    margin: 0;
    color: #647B64;
  }
    .second-layout p{
  color: #4F4F4F;
  font-size: 16px;
  }
  .second-layout button{
    border: none;
    background-color: rgb(8, 65, 8);
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    width: 50%;
    position: relitive;
   text-align: left;
   text-transform: uppercase;
  }

  .four-tables {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 200px;
  }
  .first-car {
    max-width: 288px;
   background-color: white;
   border-radius: 8px;
   height: 237px;
   padding: 40px;
  }
  .four-tables p {
    font-size: 13px;
    color: #4F4F4F;
    
  }
  .four-tables img {
    width: 24px;
  }
  .four-tables h4{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
  }
  .second-boat {
    width: 221px;
    border-radius: 8px;
    max-height: 150px;
    padding-top: 40px;
  }
  .second-boat img {
    background-color: white;
    border-radius: 8px;
    background-size: 48px 48px;
  }
.third-bus {
  max-width: 203px;
  border-radius: 8px;
  height: 150px;
  padding-left: 5px;
 
  }
  .third-bus img {
    background-color: white;
    border-radius: 8px;
    background-size: 48px 48px;
  }
.fourth-road {
  max-width: 221px;
  border-radius: 8px;
  max-height: 150px;
  }
  .fourth-road img {
    background-color: white;
    border-radius: 8px;
    background-size: 48px 48px;
  }
  .first-car img {
    background-color: #647B64 ;
    background-size: 28em;
    border-radius: 8px;
}
}